--- 
import Image from "astro/components/Image.astro"
const { frontmatter } = Astro.props
import Nav from "../components/Nav"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>

	<body class="w-full flex justify-center">
    <Nav client:load/>
    <div class="flex flex-col w-8/12 items-left text-justify">
        <h1 class="w-full text-4xl font-bold pt-20 ">{frontmatter.title}</h1>
        <p>by {frontmatter.author}</p>
        <Image class="py-10"
        src={frontmatter.image}
        alt={frontmatter.alt}
        width="1600"
        height="900"
        />
		<slot />
    </div>
    </body>
</html>
<style is:global>
    h2 {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    p{
        font-size: 16px;
        padding-bottom: 1rem;

    }
</style>

